<div id="call-joker" (click)="useCallJoker()" [class]="callJokerUsed ? 'joker-used' : ''">
  <canvas #canvas></canvas>
</div>
<div style="display: none;" id="poll-joker" (click)="usePollJoker()" [class]="pollJokerUrl !== '' ? 'joker-used' : ''">
  @if (pollJokerUrl === '') {
    <i class="fas fa-poll"></i>
  } @else {
    <a [href]="pollJokerUrl" target="_blank">
      <i class="fas fa-poll"></i>
    </a>
  }
</div>
<div id="fifty-fifty-joker" (click)="useFiftyFiftyJoker()" [class]="fiftyFiftyJokerUsed ? 'joker-used' : ''">
  <img src="assets/img/Classic5050.png">
</div>
