body {
  font-family: "DejaVu Sans Light", "Arial", sans-serif;
  background-image: url("assets/img/background.jpg");
  color: #FFF;

  h1 {
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 3em;
  }

  img {
    display: flex;
    margin: auto;
  }
}
